* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 450px;
  margin: 50px auto;
  border: 2px solid #2a9fbc;
}

header,
footer {
  background-color: #2a9fbc;
  color: white;
  padding: 10px 5px;
}

header h1 {
  font-size: 24px;
}

.ratings div {
  padding: 5px;
  border-bottom: 2px solid #2a9fbc;
  color: #1f778d;
}

.ratings input[type="number"] {
  text-align: right;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 5px;
  border: none;
  color: #1f778d;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advanced {
  display: none;
}

.advanced_btn {
  padding: 10px;
  color: #1f778d;
  border-radius: 10px;
}
